<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        
    
        <title>Login</title>
    </head>
<body class="bckgrd-image">

    <div id="wrapper">

            
            
            {% for message in messages %}
                <p class="errors">{{message}}</p>
            {% endfor %}
            

            <div class="loginreg">
                
                
                <form action="/login" method="POST">
                    <h1>Login</h1>
                    {% csrf_token %}
    
                    <label for="email">Email:</label>
                    <input type="text" name = "email">
    
                    <label for="password">Password:</label>
                    <input type="password" name = "password">
                    <p class="no-account">Do not have an account?</p> <a class="no-account" href="/create">Create an account</a>
                    
                    <button type="Submit">LOGIN</button>

                    
                </form>
                
                
            </div><!--End of loginreg-->

    </div><!--End of Wrapper-->
    


            
    

    
    
</body>
</html>