<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Style Sheet-->
        <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
        <!--Google Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <!--Link for icon-->
        <link rel="shortcut icon" href="{% static 'img/Favicon.svg' %}" type="image/x-icon">
        <!--Font Awsome Kit-->
        <script src="https://kit.fontawesome.com/8d145954f8.js" crossorigin="anonymous"></script>
        <title>{{plant.plants}}</title>
    </head>
<body>
    <div id="add">

        <h1 class="title">Hello, {{user.first_name}}! </h1>  <span> <a class="link" href="/plants">All Plants</a> | <a class="link" href="/user/profile">My Profile</a> | <a class="link" href="/logout">Logout</a> </span>
        
    
            <div id="desc">
                <h2>Here are the details for: <span>{{plant.plants}}</span></h2>  
                
                {% if plant.img %}
                    <img class="info" src="{{plant.img.url}}">
                
                    
                {% endif %}
                <div class="info">

                    
                    <h3>Water On:</h3> 
                    <p>{{plant.day}}</p>

                    <h3>Water In: </h3> 
                    <p>{{plant.time}}</p>

                    <h3>Water Amount: </h3> 
                    <p>{{plant.quantity}}</p>

                    <h3>Room</h3>
                    <p>{{plant.room}}</p>

                    <h3>Watered:</h3>
                    <p>{{plant.finished}}</p>

                    <h3>Add A Reminder:</h3>

                    

                        <form action="/plant/reminder/{{plant.id}}" method='post'>
                            <label id="reminder" class="yes" for="yes">Yes:</label>
                            <input type="radio">
                            <label for="no">No:</label>
                            <input type="radio">

                            <button type="submit">Remind Me</button>
    
                        </form>

                    

                        <!--This will show after user selects yes: a calendar feature-->
                        <!--Reminder set confirmed goes here-->
                        
                        
                        

                    
                    

                    <h3>Info: </h3> 
                    <p>{{plant.description}}</p>
                    
                    
                    
                    {% if user not in plant.user_likes.all %}
                        <a href="/plant/like/plant/{{plant.id}}"><i class="far fa-thumbs-up"></i></a>
                    {% endif %}

                    {% if user in plant.user_likes.all %}
                        <a href="/plant/un_like/plant/{{plant.id}}"><i class="fas fa-thumbs-up"></i></a>
                    {% endif %}
                    
                    
                    
                    

                <div class="block">
                    <a  class="edit-back" href="/plants">Back</a> |
                    {% if plant.owner == user %}
                        <a class="edit-back" href="/plant/edit/{{plant.id}}">Edit</a> |
                        <a class="edit-back" href="/plant/delete/{{plant.id}}">Delete</a> 
                    {% endif %}

                </div><!--End of Block-->
                    
                    
                
                
                

                </div><!--End of Info-->
                
                
                
                
                
            </div><!--End of Desc-->


        
        

    
</body>
</html>